p {
    color: darkgray;
    background: violet;
    border:2px solid gray;
    padding: 10px;
    font-family: arial;
    font-size: 14px;
    border-radius: 4px;
    line-height: 15px;
}

ul {
    list-style-type: none;
}
h1 {
    font-family: arial;
}

li {
    font-size: 15px;
    font-family: arial;
    display: inline;
    padding-right: 10%;
}